.authFormContainer {
    max-width: 400px;
    width: 100%;
}

.authHeader {
    margin-bottom: 32px;
    text-align: center;
}

.authLogo {
    margin-bottom: 1.5rem;
    height: 48px;
    width: 48px;
}
.title{
    margin-bottom: 24px !important;
}
.subtitle{
    font-size: 16px;
}

.authForm {
    margin-bottom: 2rem;
}

.authFooter {
    text-align: center;
}

.authRight {
    height: 100vh;
}

.authImage {
    height: 100%;
    width: 100%;
    background-color: #53389E; /* Using the purple color from the logo */
    background-image: url('https://images.unsplash.com/photo-1579547945413-497e1b99dac0?q=80&w=1000');
    background-size: cover;
    background-position: center;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .authFormContainer {
        max-width: 100%;
    }
}