.button{
    color: red;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    transition: 0.2s;
    padding: 6px;
    width: 28px;
    height: 28px;
}

.button:hover{
    background:  #FAFAFA !important;
}

.button:hover svg path{
    transition: 0.2s;
    stroke: #717680;
}