* {
  padding: 0;
  margin: 0;
  border: 0;
  scrollbar-width: 0;
  scroll-behavior: smooth;
  font-family: Inter !important;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-product);
  font-family: Inter;
}

input,
button,
textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* text styles */
.linkText{
  color: #6941C6;

}
.linkText:hover{
  color: #4F299E;
  text-decoration: underline;
}

/* ant form styles */
.ant-form-item{
  margin-bottom: 20px;
}
.ant-form-item-extra{
  font-size: 14px;
  font-weight: 400;
  color: #535862;
  margin-top: 6px;
}

.ant-form-item-required::before{
  color: #7F56D9 !important;
}

.ck .ck-content{
  height: 500px;
}
